<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestAll">

	<test name="order">
		<classes>
			<class name="testNGtutorial.B4Method.BeforeClassWorkAround.FirstClass" />
			<class name="testNGtutorial.B4Method.BeforeClassWorkAround.SecondClass" />
		</classes>
	</test>

</suite>
